*.bak
*.csproj.user
*.opensdf
*.sdf
*.suo

/.vs/
/DK.Common/bin/
/DK.Common/obj/
/DK.Common.Tests/bin/
/DK.Common.Tests/obj/
/DK.Implementation.Virtual/bin/
/DK.Implementation.Virtual/obj/
/DK.Implementation.Virtual.Tests/bin/
/DK.Implementation.Virtual.Tests/obj/
/DK.Implementation.Windows/bin/
/DK.Implementation.Windows/obj/
/DkTools/bin/
/DkTools/obj/
/DKX.Compilation/bin/
/DKX.Compilation/obj/
/DKX.Compilation.Tests/bin/
/DKX.Compilation.Tests/obj/
/DKX.Compiler/bin/
/DKX.Compiler/obj/
/DkxLib/ipch/
/DkxLib/Debug/
/DkxLib/Release/
/packages/
/TestResults/
/Tests/bin/
/Tests/obj/
